.box{
    background-color: pink;
    width:50%;
    margin:auto;
    text-align: center;
    padding:1.5rem;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;

}

.header{
    width:50%;
    display:block;
    margin:auto;
}

.title{
    font-size: 2rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color:palevioletred
}
.pic{
    width:40%;
    display:block;
    margin-bottom:2rem;
    border-radius: 10px;
    margin:auto;
}





button{
    padding:.5rem;
    margin-top: 1rem;
    background-color:pink;
    border: white 3px solid;
    color:white;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 10px;

}

button:hover{
    background-color: white;
    color:pink;
}

input{
    padding:.5rem;
    border-radius: 10px;
}



.answer{
    border: pink 4px solid;
    width:20%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin:auto;
    margin-top:2rem;
    color:palevioletred
}

.hours{
    border: white 3px solid;
    padding:1rem;
    width:50%;
    margin:auto auto 1rem;
    border-radius: 10px;
}

.pay{
    border: white 3px solid;
    padding:1rem;
    width:50%;
    margin:auto;
    border-radius: 10px;

}

@media only screen and (max-width: 750px) {
    input{
        width:30%;
    }
    .header{
        width:50%;
        display:block;
        margin-top:2rem;
    }

    .title{
        font-size: 2rem;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        color:palevioletred
    }
    .pic{
        width:80%;
        display:inline-block;
        margin-bottom:2rem;
        border-radius: 10px;
        margin:auto;
    }

    .answer{
        padding:1rem;
        width:70%;
    }

    .hours.pay{
        width:90%;
    }

    .header{
        display: block;
        text-align: center;

    }


    .box{
        background-color: pink;
        width:70%;
        margin:2rem auto;
        text-align: center;
        padding:1.5rem;
        color:white;
        font-family: Arial, Helvetica, sans-serif;
        border-radius: 10px;
    
    }




  }